SIGNING_IDENTITY="Developer ID Application: Your Name (TEAMID)"
NOTARY_PROFILE="jamcon-notary"
HOMEBREW_TAP="jturnshek/tap"
TAP_REPO="/path/to/homebrew-tap"
RELEASE_PUBLISH=1
RELEASE_PUSH_TAP=1
RELEASE_TAG=1
RELEASE_PUSH_TAG=1
CODESIGN_TIMESTAMP_URL="http://timestamp.apple.com/ts01"
RELEASE_BUMP="patch"
RELEASE_PUSH_BRANCH=1
RELEASE_SYNC_LOCAL_CASK=1
